* {
	margin: 0;
	padding: 0;
	font-family: 微軟正黑體;
}

/* 導覽列 */
nav {
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	position: sticky;
	top: 0;
	height: 80px;
	background-color: rgba(255, 255, 255, 1);
	z-index: 1;
}

nav ol li {
	display: inline-block;
	padding: 0 20px;
}

nav ol li a {
	color: black;
	text-decoration: none;
	line-height: 50px;
	font-size: 20px;
}

nav ol li a:hover {
	color: #e6b800;
}

/* menu */
#menu {
	display: none;
}

#menu img {
	width: 100px;
	padding: 20px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
	cursor: pointer;
	/* background-color: #fff; */
}

#menu:active #menu-box {
	right: 0;
}

#menu:hover #menu-box {
	right: 0;
}

#menu-box {
	background-color: #fff;
	width: 400px;
	height: 100vh;
	position: absolute;
	top: 0;
	right: -400px;
	display: none;
	z-index: 2;
	padding: 20px;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}

#menu-box ul li {
	list-style: none;
	font-size: 36px;
	text-decoration: none;
	padding: 20px;
}

#menu-box ul li a {
	text-decoration: none;
	color: #000;
}

#list-box {
	background-color: #e6b800;
	color: #fff;
	padding: 10px;
	text-align: center;
	border-radius: 50px;
}

/* ＬＯＧＯ */
#logo img {
	width: 80px;
	margin-right: 10px;
	padding: 3px 3px 3px 6px;
}

#logo {
	font-family: "Noto Serif TC", serif;
	font-size: 30px;
	font-weight: 900;
}

#car {
	font-family: "Noto Serif TC", serif;
	font-size: 30px;
	font-weight: 900;
	border-radius: 5px;
	background-color: #e6b800;
	padding: 8px 20px;
	height: 50px;
	color: white;
}

/* 連播圖 */
#banner {
	height: 100vh;
	background-image: url(https://images.unsplash.com/photo-1560180474-e8563fd75bab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);
	background-size: cover;
	margin-top: -100px;
	transform: rotate(1);
	transition: 3s;
}

#banner:hover {
	transform: scale(1.15);
}

#banner-box {
	overflow: hidden;
}

#card {
    max-width: 1200px;
	display: grid;
	grid-template-columns: 30% 70%;
	grid-gap: 20px;
	  /* background-color: gold; */
	margin: 100px auto;
}

#content {
    /* background-color: gray; */
    padding-left: 100px;
	/* margin-left: 30px; */
}

#discount{
    font-weight: bold;
    color: #e6b800;
}
#content h1 {
	padding: 10px 0;
}
#content table tr td {
	padding: 5px 0;
	font-size: 20px;
}
#content table tr td a {
	text-decoration: none;
    color: #000;
    font-size: 20px;
}

#news {
	/*   background: pink; */
}
#news h1 {
    padding: 10px 0;
    color: #e6b800;
}
#news table tr td {
	padding: 10px 20px 10px 0;
}
#news table tr td a {
    font-size: 18px;
	text-decoration: none;
	color: #000;
}

#news table tr td a:hover{
    color: #e6b800;
}

#page {
    /*   background: lightblue; */
    max-width: 1200px;
    margin: 100px auto;
    text-align: center;
}

#page table {
    margin: 0 auto;
}

#page #page1 {
	font-weight: bold;
}
#page .page:hover {
	font-weight: bold;
}
#page table tr td {
	padding: 10px 8px;
	font-size: 18px;
}
#page table tr td a {
	text-decoration: none;
	color: #000;
}

/* ＦＯＯＴＥＲ */
footer {
	margin: 30px auto 0px;
	height: 100px;
	line-height: 100px;
	background-color: #e6b800;
	color: white;
	text-align: center;
}